p {
    font-family: Arial;
    font-size: 28px;
    accent-color: blue;
}
/*  Flex box is rsponsive and mobile friendly and easy to position flex children */
.container {   
    display: flex;
    flex-direction: row;
}

.container2 {
    display: grid;
}
